body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#img-normalize{
    max-height: 246px;
}

#img-publicacion{
    max-height: 526px;
    max-width: 960px;
}

.card:hover{
    transition: 0.3s;
    scale: 1.01;
    opacity: 0.85;
}

#login-box{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    box-sizing: border-box;
    box-shadow: 1px 1px 15px 5px rgba(219, 219, 219, 0.7);
}