{% extends 'index.html' %}
{% block title %}
Públicación | {{ publicacion.titulo }}
{% endblock %}
{% block bienvenida %}
{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row text-light">
        <h1 class="display-3" style="text-align: justify;">{{ publicacion.titulo }}</h1>
        {% if publicacion.imagen %}
        <img src="../media/{{ publicacion.imagen }}" id="img-publicacion" class="rounded mx-auto d-block my-2" alt="imagen publicacion">
        {% else %}
        <img src="../media/3x2.webp" id="img-publicacion" class="rounded mx-auto d-block my-2" alt="imagen publicacion">
        {% endif %}
    </div>
    <div class="row text-light">
        <div class="col-6">
            <h4 class="text-start text-uppercase py-3">Publicado por: {{ publicacion.autor.first_name }} {{ publicacion.autor.last_name }}</h3>
        </div>
        <div class="col-3">
            <h6 class="text-center text-uppercase py-3">Categoría: {{ publicacion.categoria.nombre }}</h4>
        </div>
        <div class="col-3">
            <h5 class="text-end py-3 fst-italic">{{ publicacion.fecha_publicacion }}</h5>
        </div>
    </div>
    <div class="row text-light">
        <p style="text-align: justify;" class="text-center text-uppercase fw-bold">{{ publicacion.descripcion }}</p>
    </div>
</div>
<div class="container">
    <div class="row text-light">
        <p style="text-align: justify;">{{ publicacion.contenido.html|safe }}</p>
    </div>
</div>
<div class="container">
    <hr class="text-light">
</div>
{% endblock %}
{% block recomendados %}
<div class="container">
    <div class="row text-light">
        <h1 class="display-4">Publicaciones Recomendadas</h1>
    </div>
    <div class="row text-center ">
        {% for otro in otros %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 my-3">
            <div class="card">
                {% if otro.imagen %}
                <img src="../media/{{ otro.imagen }}" class="card-img-top" id="img-normalize"
                    alt="imagen publicación">
                {% else %}
                <img src="../../media/3x2.webp" class="card-img-top" id="img-normalize" alt="3x2-default">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ otro.titulo }}</h5>
                    <p class="card-text">{{ otro.descripcion }}</p>
                    <p class="card-text"><small class="text-body-secondary">Fecha Publicación:
                         {{otro.fecha_publicacion }}</small></p>
                    <a href="/publicacion/{{ otro.id }}" class="btn btn-info">Ver más</a>
                    <a href="/categoria/{{ otro.categoria.nombre }}" class="btn btn-primary">{{ otro.categoria }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <hr class="text-light">
</div>
<!-- Contendedor para el formulario comentarios -->
<div class="container">
    <div class="row text-light">
        <h1 class="display-4">Dejanos un Comentario</h1>
    </div>
    <div class="row justify-content-around">
        <div class="col-6 text-light pb-4">
            <form action="" method="post">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fs-3">Correo</label>
                    <input type="email" name="correo" class="form-control" value="{{ request.user.email }}" readonly id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                {% else %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fs-3">Correo</label>
                    <input type="email" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-light">
                        Si no está registrado, porfavor <a href="/registro/" class="alert-link">registrese</a> para comentar la publicación.
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label fs-3">Comentario</label>
                    <textarea class="form-control" name="comentario" id="exampleFormControlTextarea1" required rows="5" style="resize: none;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <hr class="text-light">
</div>
<!-- Contenedor para los comentarios -->
<div class="container">
    <div class="row text-light">
        <h1 class="display-4">Comentarios</h1>
    </div>
    <div class="row justify-content-around">
        <div class="col-7 text-light pb-4">
            {% for autor_comentario in autor_comentarios %}
            <div class="card mb-4">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                {{ autor_comentario.autor.first_name }} {{ autor_comentario.autor.last_name }}
                            </div>
                            <div class="col-6 text-end fst-italic">
                                {{ autor_comentario.fecha_publicacion }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ autor_comentario.contenido }}</p>
                </div>
            </div>
            {% endfor %}
            {% for lector_comentario in lector_comentarios %}
            <div class="card">
                <div class="card-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                {{ lector_comentario.lector.nombre }} {{ lector_comentario.lector.apellido }}
                            </div>
                            <div class="col-6 text-end fst-italic">
                                {{ lector_comentario.fecha_publicacion }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ lector_comentario.contenido }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}